body{
  margin: 0px;
  padding: 0px;
  font-family: courier;
  font-size: 2vmin;
}

html{
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#container{
  display：flex;
  height:100%;
  text-align: center;
  align-content: space-between;
}

.background{
  display: flex;
  flex-direction: column;
  background: #CCFF66;
}

.banner {
  display：flex;
  padding: 5vmin;
  flex-direction: column;
  algin items: center;
  height: 35vmin;
  background: #FFCCCC;
}

.title{
  display：flex;
  text-align: center;
  font-size: 10vmin;
  color:#333333;
}

.banner h4{
  display：flex;
  position: relative;
  text-align: center;
  align-content: space-between;
  color: #666666;
  height: 35vmin;
}

#intro{
  display：flex;
  padding: 10vmin;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#seTitle{
  display：flex;
  text-align: center;
  color:#333333;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  font-size: 4vmin;
}

.branch {
  display：flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10vmin;
  background: #CCFF66;
}
.branch img{
  display：flex;
  float: left;
  width: 50vmin;
}
h3{
  color:#333333;
  font-weight: bold;
  background: #CCFF66;
}
.branch p{
  color:#333333;
  background: #CCFF66;
}

.email{
  display：flex;
  background-color: #444444;
  padding: 5vmin;
  box-sizing: border-box;
  text-align: center;
  font-size: 2vmin;
  color: white;
}
.emailLinks{
  display：flex;
  display: inline-block;
  vertical-align: middle;
}

.mainContainer{
  display：flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.inContent{
  display：flex;
  color: #333333;
  display: inline-block;
  padding: 2vmin;
  width: 80vmin;
  vertical-align: middle;
}

.mainsite{
  display：flex;
  text-align: center;
}
