body{
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: courier;
}
html{
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#container{
  height:100%;
  text-align: justify;
}

.background{
  background: #CCFF66;
}

.banner {
  height:345px;
  background: #FFCCCC;
}

.title{
  position: relative;
  text-align: center;
  top: 100px;
  font-size: 60px;
  color:#333333;
}

.banner h4{
  position: relative;
  text-align: center;
  color: #666666;
  top: 105px;
}

#intro{
  height:300px;
  padding: 100px;
}

#introBox{
  position: relative;
  background-image: url(images/1.jpg);
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 48%;
}

#content{
  position: relative;
  left: 325px;
  bottom: 30px;
  color: #333333;
}

#seTitle{
  text-align: center;
  color:#333333;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
}

.branch {
  height: 350px;
  padding: 100px 100px 0px 100px;
}
.branch img{
  float: left;
  padding-right: 40px;
}
h3{
  color:#333333;
  font-weight: bold;
}
.branch p{
  color:#333333;
}

.email{
  background-color: #444444;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  color: white;
}
.emailLinks{
  display: inline-block;
  vertical-align: middle;

}

.mainContainer{
  padding: 0px;
  margin: 0px;
}

.inContent{
  color: #333333;
  display: inline-block;
  padding: 20px;
  width: 500px;
  vertical-align: middle;
}

.mainsite{
  text-align: center;
}
